* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.input {
  padding: 10px 15px;
  
  font-size: 1rem;
  margin-top: 10px;
}

.button {
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: rgb(204, 235, 255);
  padding: 10px 15px;
  border: 2px solid rgb(100, 193, 255);
  border-radius: 2px;
  font-size: 1rem;
  color: black;
  cursor: pointer;
}